/* General Style */

html{
  text-align: center;
}

a, h1, h2, h3, h4, p{
  font-family: "Helvetica", sans-serif;
  color: seashell;
  opacity: 0.9;
  /*font-weight: bold;*/
}

p{
  font-size: 22px;
}

h2{
  font-size: 35px;
  /*background-color: yellow;*/
}

h3{
  font-size: 27px;
}

h4{
  font-size: 23px;
  /*background-color: yellow;*/
}

.image-icon h4{
  margin: 8px;
}

.middle-box span h2, h3{
  margin: 12px;
}
.bottom-box h2{
  margin: 0px;
}

.address-icon h3, p{
  margin: 35px 0px;
  font-weight: bold;
  }

/* header style */

header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid seashell;
  z-index: 10;
}

.logo img{
  margin-left: 10px;
  opacity: 0.9;
  height: 50px;
  margin-top: 2px;
  width: auto;
  }

nav a{
  display: inline-block;
  text-decoration: underline;
  font-size: 22px;
  color: seashell
  opacity: 0.9;
  text-align: center;
  margin: 10px;
}

/* general content style */

.content{
  display: flex;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 200px;
  left: 0px;
  right: 0px;
  position: absolute;
  }

.image-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

/*.menu-content{
  display: flex;
}*/

.image-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  margin: 12px;
}

.icon-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* top content style */

.top-box{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    margin-top: 75px;
    margin-bottom: 40px;
    height: 700px;
    /*old class: .top-box.image-content*/
}

.stripe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 120px;
}

/* middle content style */

.middle-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: auto;
  /*background-color: aquamarine;*/

  }



img.berry-blitz{
  /*background-color: blue;*/
  height: 200px;
  width: 300px;
    /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg");*/
}
img.spiced-rum{
  height: 200px;
  width: 300px;
  /*background-color: red;*/
  /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-spiced-rum.jpg");*/
}
img.seasonal-donuts{
  height: 200px;
  width: 300px;
  /*background-color: yellow;*/
  /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-donut.jpg");*/
}
img.myrtle-ave{
  height: 200px;
  width: 300px;
  /*background-color: green;*/
  /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-myrtle-ave.jpg");*/
}
img.bedford-bizarre{
  height: 200px;
  width: 300px;
  /*background-color: black;*/
  /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg");*/
}

/* bottom content style */
.address-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 280px;
  opacity: 1;
}

.bottom-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 70px;
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.icon-content .address-icon{
  background-color: black;
  margin: 15px 20px;
  }
